{% extends "!simple/base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/css/sakura-custom.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/sakura-custom-dark.css" media="screen and (prefers-color-scheme: dark)" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W9YB1TK93Q"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-W9YB1TK93Q');
    </script>
{% endblock head %}

{% block footer %}
{% endblock footer %}
