{% extends "!simple/index.html" %}

{% block content_title %}
    <img alt="Cornell box" width="256" src="/images/cornell_box.jpg">
    <p>I'm interested in computer graphics and machine learning.</p>

    <h4>Experience</h4>
    <p>Current: Independent Research <br>
       Former: University of Waterloo, Google, Meta</p>

    <h4>Publications</h4>
    <p><a href="/nn2n/">Nonlinear Noise2Noise for Efficient Monte Carlo Denoiser Training</a> <br>
       Andrew Tinits and Stephen Mann <br>
       SIGGRAPH Asia 2025 Conference Papers</p>
{% endblock content_title %}
